---
import SilentViewCountIncrement from '@/components/blog/SilentViewCountIncrement.svelte';
import FormattedDate from '@/components/shared/FormattedDate.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';
import { CollectionEntry, getCollection } from 'astro:content';

type Props = CollectionEntry<'blog'>;

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts
    .filter((post) => post.data.published)
    .map((post) => ({
      params: { slug: post.slug },
      props: post,
    }));
}

const apiBaseUrl = `${import.meta.env.API_BASE_URL}/views`;
const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage ?? '/favicon.ico'}
>
  <article
    class="prose prose-invert mx-auto overflow-hidden pb-12 font-merriweather text-neutral-400 prose-h2:text-neutral-200 prose-a:text-neutral-200 hover:prose-a:text-neutral-300 prose-code:text-neutral-300 prose-img:mx-auto prose-img:rounded-md"
  >
    <h1 class="text-center font-merriweather text-2xl text-neutral-300">
      {post.data.title}
    </h1>
    <div
      class="flex flex-row items-center justify-center gap-x-2 font-roboto-mono text-sm tracking-tighter"
    >
      <FormattedDate date={post.data.pubDate} />
      <span class="font-bold">#{post.data.category}</span>
    </div>
    <img width={540} height={280} src={post.data.heroImage} alt="" />
    <Content />
    <SilentViewCountIncrement
      client:load
      slug={post.slug}
      apiBaseUrl={apiBaseUrl}
    />
  </article>

  <a
    href="/blog"
    type="button"
    class="mx-auto flex w-40 items-center justify-center gap-x-1.5 rounded-md bg-neutral-800 py-2 px-3 text-sm font-semibold text-neutral-400 shadow-sm hover:bg-neutral-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-600"
  >
    <Icon name="ic:round-arrow-back" class="h-6 w-6" />
    Back to blogs
  </a>
</BaseLayout>
