---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../shared/FormattedDate.astro';
import ViewCount from './ViewCount.svelte';

type ContentData = CollectionEntry<'blog'>['data'];
export type Props = Omit<ContentData, 'published'> & { slug: string };

const apiBaseUrl = import.meta.env.API_BASE_URL;
const viewCountThreshold = +import.meta.env.VIEW_COUNT_SHOW_THRESHOLD;

const { category, title, description, slug, pubDate } = Astro.props;
---

<article class="flex max-w-xl flex-col items-start">
  <div class="flex items-center gap-x-4 text-xs">
    <FormattedDate date={pubDate} />
    <span
      class="relative z-10 rounded-full bg-neutral-700 py-1.5 px-3 font-medium text-neutral-300"
      >{category}</span
    >
    <ViewCount {slug} {apiBaseUrl} {viewCountThreshold} client:load />
  </div>
  <a href={`/blog/${slug}`}>
    <div class="group relative">
      <h3
        class="mt-3 font-roboto-mono text-lg leading-6 tracking-tighter text-neutral-300 group-hover:text-neutral-400"
      >
        <span class="absolute inset-0"></span>
        {title}
      </h3>
      <p class="mt-5 text-sm leading-6 text-neutral-400 line-clamp-3">
        {description}
      </p>
    </div>
  </a>
</article>
