---
import Footer from '@/components/footer/Footer.astro';
import BaseHead from '@/components/layout/BaseHead.astro';
import Navbar from '@/components/layout/Navbar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

type Props = {
  title?: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const useTitleAndDescription = !!title && !!description && !!image;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    {
      useTitleAndDescription && (
        <BaseHead title={title} description={description} image={image} />
      )
    }
    {
      !useTitleAndDescription && (
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
      )
    }
  </head>
  <body class="h-full bg-neutral-900">
    <Navbar />
    <main class="mx-auto max-w-screen-md px-6 pt-12 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
